body {
  font-family: monospace;
  font-size: 1.1em;
}

@media only screen and (min-width: 760px) {
  body {
    padding-left: 12%;
    padding-right: 12%;
  }
}

hr {
  border-color: #EEE;
  border-style: solid;
}

page-entry {
  padding-left: 3em;
}

page-link::before {
  content: "/";
}
page-link::after {
  content: "/";
}
page-link.external::before {
  content: "https://";
}

page-link.external::after {
  content: "/";
}

page-desc {
  padding-left: 3em;
  display: block;
}

::selection {
  color: white;
  background: black;
}
