body{
  word-wrap:break-word;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdown-content a:hover{
  background-color:#f1f1f1
}
.show{
  display:block;
}
