body{
  text-align:center;
  font-family:sans-serif;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.link-icon{
  opacity:0;
  width:15px;
  position:relative;
  bottom:2px;
  right:12px;
}
.link-icon:hover{
  opacity:100;
  width:15px;
  position:relative;
  bottom:2px;
  right:12px;
  cursor:pointer;
}
.title{
  position:relative;
  right:13px;font-size:2.5em;
  font-family:monospace;
  font-weight:bold;
}
.top{
  font-size:8em;
  font-family:monospace;
}
